$main: #97ddf4;

.productPage {
    padding-top: 10rem;

    .row {
        .col-xl-5 {
            img {
                width: 70%;
                margin-left: 15%;
            }
        }

        .col-xl-7 {
            padding-top: 4rem;
            font-family: 'Raleway', sans-serif;

            h1 {
                font-size: 3rem;
                color: black;

            }

            p {
                margin-top: 1rem;
                font-size: 1.2rem;
            }

            h3 {
                margin-top: 2rem;
                color: rgba(0, 0, 0, 0.403)!important;
                font-size: 2rem;
            }

            h2 {
                margin-top: 2rem;
                color: $main;
                font-size: 2.8rem;
                
                span{
                    color: rgba(0, 0, 0, 0.365);
                    font-size: 2rem;
                    text-decoration: line-through;
                }
            }

            .d-flex {
                margin-top: 3rem;

                .btn {
                    font-size: 2rem;
                    border-radius: 50px;
                    margin-left: .5rem;
                    padding: 1rem 2rem;
                }
                .btn-outline-primary{
                    border: $main 1px solid;
                    background: none;
                    color: $main;
                }
                .btn-outline-primary:hover{
                    background: $main;
                    color: white;
                }
                .btn-primary{
                    background: $main;
                    color: white;
                    border: $main 1px solid;
                }
            }
            #notification{
                width: 55%;
                border: none;
                border-bottom: 1px solid rgba(0, 128, 0, 0.322);
                background:rgba(0, 128, 0, 0.495);
                padding: 1rem 2rem;
                margin-top: 2rem;
                border-radius: 60px;
                p{

                    font-size: 2rem;
                    color: white!important;
                }
            }
        }
    }
}



@media (max-width:1400px) {
    
.productPage {
    padding-top: 8rem;

    .row {
        .col-xl-5 {
            img {
                width: 70%;     
            }
        }

        .col-xl-7 {
            padding-top: 3rem;

            h1 {
                font-size: 2.4rem;
            }

            p {
                margin-top: 1rem;
                font-size: 1rem;
            }

            h3 {
                margin-top: 2rem;
                font-size: 1.5rem;
            }

            h2 {
                margin-top: 2rem;
                font-size: 2rem;
                
                span{
                    font-size: 1.4rem;
                }
            }

            .d-flex {
                margin-top: 2.6rem;

                .btn {
                    font-size: 1.4rem;
                    padding: 1rem 1.8rem;
                }
            }
            #notification{
                width: 60%;
                padding: .1rem 2rem;
                margin-top: 2rem;
                p{
                    font-size: 1.4rem;
                }
            }

        }
    }
}
}



@media (max-width:1200px) {
    
.productPage {
    padding-top: 8rem!important;

    .row {
        .col-xl-5 {
            img {
                width: 70%;
            }
        }

        .col-xl-7 {
            padding-top: 3rem;

            h1 {
                font-size: 1.8rem;
            }

            p {
                margin-top: 1rem;
                font-size: .9rem;
            }

            h3 {
                margin-top: 1.6rem;
                font-size: 1.1rem;
            }

            h2 {
                margin-top: 1.6rem;
                font-size: 1.3rem;
                
                span{
                    font-size: 1rem;
                }
            }

            .d-flex {
                margin-top: 1.6rem;

                .btn {
                    font-size: 1rem;
                    padding: .5rem 1.4rem;
                }
            }
            #notification{
                width: 40%;
                padding: .3rem 1.3rem;
                margin-top: 2rem;
                p{
                    font-size: 1rem;
                }
            }
        }
    }
}
}



@media (max-width:992px) {
    
.productPage {
    padding-top: 8rem!important;

    .row {
        .col-xl-5 {
            img {
                width: 40%;
                margin-left: 30%;
            }
        }

        .col-xl-7 {
            padding-top: 3rem;

            h1 {
                font-size: 2.3rem;
                text-align: center;
            }
            
            p {
                text-align: center;
                margin-top: 1rem;
                font-size: 1rem;
            }
            
            h3 {
                text-align: center;
                margin-top: 1.6rem;
                font-size: 1.2rem;
            }
            
            h2 {
                text-align: center;
                margin-top: 1.6rem;
                font-size: 2rem;
                
                span{
                    font-size: 1.4rem;
                }
            }
            
            .d-flex {
                margin-top: 1.6rem;
                justify-content: center;

                .btn {
                    font-size: 1.4rem;
                    padding: .7rem 1.4rem;
                }
            }
            #notification{
                width: 40%;
                margin-left: 30%;
                padding: .3rem 1.3rem;
                margin-top: 2rem;
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }
}
}



@media (max-width:768px) {
    
.productPage {
    padding-top: 13rem!important;

    .row {
        .col-xl-5 {
            img {
                width: 50%;
                margin-left: 25%;
            }
        }

        .col-xl-7 {
            padding-top: 2rem;

            h1 {
                font-size: 1.8rem;
            }
            
            p {
                margin-top: 1rem;
                font-size: .85rem;
            }
            
            h3 {
                margin-top: 1.6rem;
                font-size: 1rem;
            }
            
            h2 {
                margin-top: 1.6rem;
                font-size: 1.5rem;
                
                span{
                    font-size: 1.1rem;
                }
            }
            
            .d-flex {
                margin-top: 1.6rem;

                .btn {
                    font-size: 1.1rem;
                    padding: .4rem 1.3rem;
                }
            }
            #notification{
                width: 60%;
                margin-left: 20%;
                padding: .3rem 1rem;
                margin-top: 2rem;
                p{
                    font-size: 1.3rem;
                }
            }
        }
    }
}
}


@media (max-width:576px) {
    
.productPage {
    padding-top: 12rem!important;

    .row {
        .col-xl-5 {
            img {
                width: 60%;
                margin-left: 20%;
            }
        }

        .col-xl-7 {
            padding-top: 2rem;

            h1 {
                font-size: 1.3rem!important;
            }
            
            p {
                margin-top: 1rem;
                font-size: .7rem;
            }
            
            h3 {
                margin-top: 1.6rem;
                font-size: 1rem;
            }
            
            h2 {
                margin-top: 1.6rem;
                font-size: 1.2rem;
                
                span{
                    font-size: .9rem;
                }
            }
            
            .d-flex {
                margin-top: 1.6rem;

                .btn {
                    font-size: .9rem;
                    padding: .2rem 1rem;
                }
            }
            #notification{
                width: 80%;
                margin-left: 10%;
                padding: .1rem 1rem;
                margin-top: 1.4rem;
                p{
                    font-size: 1rem;
                }
            }
        }
    }
}
}


@media (max-width:394px) {
    
.productPage {
    padding-top: 10rem!important;

    .row {
        .col-xl-5 {
            img {
                width: 80%;
                margin-left: 10%;
            }
        }

        .col-xl-7 {
            padding-top: 1rem;

            h1 {
                font-size: 1rem!important;
            }
            
            p {
                margin-top: 1rem;
                font-size: .67rem;
            }
            
            h3 {
                margin-top: 1.4rem;
                font-size: .9rem;
            }
            
            h2 {
                margin-top: 1.4rem;
                font-size: 1rem;
                
                span{
                    font-size: 1rem;
                }
            }
            
            .d-flex {
                margin-top: 1.4rem;

                .btn {
                    font-size: .8rem;
                    padding: .2rem .8rem;
                }
            }

            #notification{
                width: 90%;
                margin-left: 5%;
                padding: .1rem .3rem;
                margin-top: 1rem;
                p{
                    font-size: .8rem;
                }
            }
        }
    }
}
}