/* -------------------------------Scroll Bar------------------------------- */
/* ------------------------------------------------------------------------ */
::-webkit-scrollbar {
  border-radius: 50px !important;
  width: 10px !important;
}
::-webkit-scrollbar-button {
  color: #97ddf4;
  height: 0rem;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: #97ddf4;
  width: 99% !important;
  height: 10% !important;
  border-radius: 50px;
  box-shadow: inset 5px 5px 10px #97ddf4;
}
::-webkit-scrollbar-track {
  background: transparent;
}
/* -----------------s------------------------------------------------------- */
/* ------------------------------------------------------------------------ */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
